{% extends 'core/base.html' %}

{% block titulo %}
Bienvenido a Linda Sonrisa
{% endblock titulo %}

{% load static %}

{% block contenido %}
        <div>
            <!-- IMAGENES MOVILES-->
            <center>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img width="80%" src="{% static 'core/img/imagenes01.png' %}" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img width="80%" src="{% static 'core/img/imagen_02.webp' %}" class="" alt="...">
                    </div>
                  </div>
                  
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
            </div>
            </center>

            <!-- IMAGENES FIJAS -->
            <div>
                    <table class="tabla1"> <!--Fila-->
                        <tr>
                            <td>
                                <div>
                                   <h2>Centro Dental Linda Sonrisa</h2>
                                   <p>Centro Dental Linda Sonrisa es&nbsp;un centro medico dental que opera en la comuna de la Regi&oacute;n Metropolitana, m&aacute;s de 100 pacientes de experiencia en el campo de salud bucal avalan nuestros tratamientos.</p>
                                </div>
                            </td>
                            
                            <td>
                                <img onclick="location.href='ubicacion.html'" title="Revisa nuestro mapa para llegar más rapido" srcset="{% static 'core/img/ubicacion.png' %}">
                                <div>
                                   <h2>Ubicación</h2>
                                </div>
                                <div>
                                    <p>Irarrázabal 0180 oficina 666​ <br> Metro Plaza Puente Alto</p>
                                    <p>Lunes a Viernes <br>09:00 a 13:00 hrs <br> 14:00 a 20:00 hrs</p>
                                    <p>Sabado <br>09:00 a 14:00 hrs</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                   <h1 style="text-align:center; color:#1A9A2A;">EXPERIENCIAS</h1>
                    
                    <div class="tabla3">

                            <div style="background-image:url({% static 'core/img/dentista01.jpg' %}); background-size: cover;">
                                <div>
                                       <h2>Marta Sanchez</h2>
                                       <p>Acabo de terminar un tratamiento bien considerable... excelentes profesionales, doctores, asistentes y ejecutivos, me orientaron desde el comienzo y durante todo el proceso,
                                       quede muy conforme con el resultado. Excelente servicio ⭐⭐⭐⭐⭐</p>
                                 </div>
                            </div>
                            <div style="background-image:url({% static 'core/img/dentista02.jpg' %}); background-size: cover;">
                                <div>
                                       <h2>Maria de las Mercedes</h2>
                                       <p>Excelente atención, profesionales que entregan mucha confianza.
                                        Muchos horarios disponibles para quienes tenemos poco tiempo. Recomiendo 100%</p>
                                 </div>

                            </div>
                            <div style="background-image:url({% static 'core/img/dentista03.jpg' %}); background-size: cover;">
                                <div>
                                       <h2>Bom Bai</h2>
                                       <p>Buen servicio, la atención tanto de administrativos como profesionales es de muy buen nivel la infraestructura del centro dental excelente.</p>
                                 </div>

                            </div>
                    </div>
            </div>
        </div>    
{% endblock  %}
