{% extends 'core/base.html' %}

{% block titulo %}
Tratamientos | Centro Dental Linda Sonrisa
{% endblock titulo %}

{% load static %}

{% block contenido %}
        <a name="odonto"></a>
        <div style="background-color:#27A8CC; color: black; text-align:center; padding: 10px;">
           <div>
              <h2>ORTODONCIA</h2>
              <p>Especialidad de la odontología que se orienta a prevenir, inhibir y corregir anomalías de malposiciones dentarias y malformaciones de los maxilares.
              Su objetivo final es velar por una correcta oclusión de los dientes, tanto en lo funcional favoreciendo una buena mordida, como en lo estético con una disposición dentaria armónica.</p>
              </div>
        </div>
        <center>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img width="80%" src="{% static 'core/img/tratamiento1.png' %}" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img width="80%" src="{% static 'core/img/tratamiento1-2.png' %}" class="" alt="...">
                    </div>
                  </div>
                  
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
            </div>
            
            <div style="padding: 0px 150px 0px 150px;">
                <h2 style="margin-top: 50px;">BENEFICIOS</h2>
                
                <h3>BRACKETS METÁLICOS:</h3>
                <p>Los brackets metálicos son ideales para quienes no tienen problemas en lucir de forma explícita los frenillos en boca, puesto que presentan tres grandes ventajas:</p>
                
                <p>- Son más baratos respecto a los brackets estéticos.<br>
                - Son más resistentes y menos delicados que otros brackets.<br>
                - Las ligaduras pueden ser de colores o transparentes. El paciente podrá elegir el color que más le guste y cambiarlo cuantas veces desee.</p>
                
                <h3>BRACKETS ZAFIRO:</h3>
                <p>- Son transparentes y se adaptan al color real de los dientes.<br>
                - Tamaño reducido.<br>
                - No se mancha ni sufre de decoloración.<br>
                - El zafiro es una piedra preciosa transparente y dura, que cumple con todas las propiedades físicas para ser utilizado en la ortodoncia.<br>
                - Poseen contornos suaves y también son resistentes a la fractura o deformación.<br>
                - Se adhieren fácilmente al diente por su malla de polvo de zirconio.</p>
            </div>
        </center>
        <br>
        
<a name="implante"></a>
        <div style="background-color:#27CCC6; color: black; text-align:center; padding: 10px; margin-top: 50px;">
           <div>
              <h2>IMPLANTES DENTALES</h2>
              <p> ¡BIENVENIDOS A NUESTRA PÁGINA DE SOLUCIONES SOBRE IMPLANTES DENTALES!</p>
              </div>
        </div>
        <center>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img width="80%" src="{% static 'core/img/tratamiento2.png' %}" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img width="80%" src="{% static 'core/img/tratamiento2-2.png' %}" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img width="80%" src="{% static 'core/img/tratamiento2-3.png' %}" class="" alt="...">
                    </div>
                  </div>
                  
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
            </div>
            
            <div style="padding: 0px 150px 0px 150px;">
                <h2 style="margin-top: 50px;">¿SABÍAS QUE AHORA PUEDES CANCELAR TU TRATAMIENTO POR ETAPAS?</h2>
                <img width="90%" src="{% static 'core/img/tratamiento2-4.png' %}" class="" alt="...">
                
                <h3 style="margin-top: 50px;">¿CON QUÉ IMPLANTES TRABAJAMOS?</h3>
                <p>Nuestros implantes vienen de la marca  PALTOP de origen Israelí, pioneros en la fabricación de implante.</p>
                <p>Aprovechando décadas de experiencia colectiva y liderazgo en la industria de la fabricación de precisión y tecnología de implantes, la compañía fabrica componentes de implantes con la más alta calidad.
                Profundamente comprometida con la investigación y el desarrollo y con una gran inversión en equipos de fabricación de vanguardia, PALTOP es reconocida por su continua presentación de productos avanzados de los más altos estándares de calidad.</p>
            
                <h3 style="margin-top: 50px;">PUNTOS DESTACADOS - P A L T O P -</h3>
                <h5>ESTÉTICA</h5>
                <h6>DISEÑO CÓNCAVO PARA MAXIMIZAR LA ESTÉTICA</h6>
                <p>Mejora de la cicatrización gingival, reduce el traumatismo en el sitio de implantación y acelera el proceso de curación.</p>
                
                <h5>SUPERFICIE ULTRA PURA</h5>
                <p>Material prima superior:<br>
                Propiedades mecánicas superiores al del titanio puro.<br>
                Superficies libres de contaminación, por la extensa limpieza en múltiples etapas.</p>
           
                <h5>ADVANCE</h5>
                <h6>DISEÑO BIOLÓGICO AVANZADO</h6>
                <p>Los implantes de 3era generación de PALTOP combinan un enfoque pasivo tradicional con un enfoque agresivo moderno con variaciones de diseño.</p>
                
                <h5>EMBALAJE</h5>
                <h6>PROTECTORES Y ESTÉRILES</h6>
                <p>Se entregan estéril y listo para utilizarse. En este envase de calidad superior, el implante entra únicamente en contacto con titanio.</p>
            
                <h5>SIMPLICIDAD</h5>
                <h6>- HERRAMIENTAS + TECNOLOGÍA</h6>
                <p>PALTOP invierte gran tiempo y esfuerzo para hacer los procedimientos tan simples como sea posible, ahorrando tiempo</p>
            </div>
        </center>
        <br>
        
<a name="limpieza"></a>
        <div style="background-color: #27CCAF; color: black; text-align:center; padding: 10px; margin-top: 50px;">
           <div>
              <h2>LIMPIEZA DENTAL</h2>
              <p>Limpieza Dental o Higiene dentario, procedimiento realizado por un dentista general destinado a remover el sarro dental localizado sobre los dientes y bajo las encías.</p>
              </div>
        </div>
                <center>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img width="80%" src="{% static 'core/img/tratamiento3.png' %}" class="" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img width="80%" src="{% static 'core/img/tratamiento3-2.png' %}" class="" alt="...">
                    </div>
                  </div>
                  
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                  </a>
            </div>
            
            <div style="padding: 0px 150px 0px 150px;">
                <h5 style="margin-top: 50px;">➖Limpieza profunda en los 6 grupos de la boca.<br>
                ➖Destartraje<br>
                ➖Profilaxis </h5>
                
                <h6 style="margin-top: 50px;">Realizada por odontólogos</h6>
                <p>ELIMINA: el sarro dental, las manchas.</p>
                <p>PREVIENE: el mal aliento, las caries</p>
                
                <h6>INCLUYE:</h6>
                <p>- Radiografías Bite Wing (para detectar las caries) <br>
                - Evaluación gratis</p>
                
                <h4>SE RECOMIENDA REALIZAR LA LIMPIEZA DENTAL CADA 6 MESES</h4>
            </div>
        </center>
        
<a name="blanco"></a>
        <div style="background-color:#27CC8C; color: black; text-align:center; padding: 10px; margin-top: 50px;">
           <div>
              <h2>BLANQUEAMIENTO DENTAL</h2>
              <p>Es un procedimiento clínico de carácter estético realizado o supervisado por lo general por un profesional odontólogo.
               El objetivo de esta acción clínica es aclarar el tono de los dientes, produciendo de esta manera un efecto blanqueador sobre las
               piezas dentales. Es seguro, efectivo y muy rápido. En tan sólo una hora se puede lograr aclarar los dientes entre 4 y 6 tonos,
               dependiendo de las características naturales de los dientes y del tipo de manchas que estos presenten.</p>
              </div>
        </div>
        <center>
        <img width="80%" src="{% static 'core/img/tratamiento4.png' %}" class="" alt="...">
        <div style="padding: 0px 150px 0px 150px;">
                <h2 style="margin-top: 50px;">REQUISITOS PARA UN BLANQUEAMIENTO</h2>
                 
                 
                <h3>Evaluación por un odontólogo:</h3>
                ​
                <p>El primer y gran requisito previo a la ejecución del tratamiento de blanqueamiento, es someterse a una evaluación por un profesional odontólogo a fin de conocer el estado de salud dental del paciente.</p>
                <p>Entre otras cosas el odontólogo evaluará lo siguiente:</p>
                <p> - Las superficies de los dientes deben de estar limpias, sin placa bacteriana ni sarro dental.<br>
                 - Las encías deben de estar sanas, libre de enfermedades periodontales.<br>
                 - Dientes con cuellos expuestos y/o fisuras profundas.<br>
                 - Ausencia de caries.</p>

                <h3>Requisitos de carácter general:</h3>
                ​
                <p>- Ser mayor de 18 años de edad.<br>
                - No estar embarazada.<br>
                - No se recomienda en fumadores habituales.<br>
                - Pacientes con hipersensibilidad a la luz<br>
                - Pacientes que toman fármacos fotoactivo</p>
                
                <h3>¿Por qué los dientes pierden su tono natural con el paso de los años?</h3>
                ​
                <p>Los dientes al igual que todo nuestro cuerpo se envejecen, a partir de los 25 años las piezas dentales comienzan a experimentar la oxidación de la dentina, la que cambia y toma un color amarillento o marrón oscuro que se proyecta finalmente al esmalte.<br>
                - Abusos en los consumos de café, té, vino, tabaco, bebidas cola o todo lo que contenga exceso de colorantes.<br>
                - Una mala higiene dental, dada por ser poco prolija o simplemente porque se omite.<br>
                - Ingestas de fármacos como la tetraciclina que, en edades tempranas, producen en la dentina un tono violáceo muy antiestético.</p>
                
                <h2 style="margin-top: 50px;">PROCEDIMIENTO​</h2>
                ​
                <h5>Paso 1</h5>
                <p>Inicialmente se aíslan completamente los tejidos blandos y mucosas para evitar una quemadura, dejando solamente los dientes expuestos. Luego se aplica el material para blanquear y se enciende la lámpara en el primer ciclo de 15 min.</p>
                
                <h5>Paso 2</h5>
                <p>Luego aplican el gel revolucionario de acción blanqueadora sobre la superficie a tratar, este gel está diseñado especialmente para trabajar bajo una luz especial diseñada para este sistema.</p>
                
                <h5>Paso 3</h5>
                <p>Luego la luz y el gel especiales trabajan en conjunto penetrando los dientes, actuando sobre las manchas y decoloraciones presentes en los dientes. Durante este tiempo el paciente puede estar relajado y cómodo. El gel es aplicado en tres sesiones de quince minutos cada una para un tiempo total de tratamiento de 45 minutos.</p>
                
                <h5>Paso 4</h5>
                <p>Se chequea el color y se verifica si es necesario otro ciclo de aplicación. Al finalizar el procedimiento, se aplica flúor neutro para evitar la posible sensibilidad dentaria característica. Luego el paciente podrá apreciar los resultados. Se obtiene una sonrisa mucho más brillante.</p>
                
                <h3>¿Cuánto tiempo perdura el efecto blanqueador en los dientes?</h3>
                <p>En promedio los efectos aclarantes del blanqueamiento dental tienen una permanencia de 2 años, dependiendo del tipo de tinción tratada, del higiene bucal  y los hábitos alimenticios de cada paciente.</p>
        </div>
        </center>
        <br>
        
{% endblock  %}