{% extends 'core/base.html' %}

{% block titulo %}
Ubicación | Centro Dental Linda Sonrisa
{% endblock titulo %}

{% load static %}

{% block contenido %}
    <div class="ubicacion">
        <h2>Ubicación</h2>
        <div>
            <h3><br>Centro Dental Puente Alto</h3>
            <center>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.91354175631!2d-70.57594588494766!3d-33.607547680729304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d65533fa41f7%3A0x74341106e777b822!2sJos%C3%A9%20Manuel%20Irarr%C3%A1zaval%200180%2C%20Puente%20Alto%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1587628957238!5m2!1ses!2scl"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </center>
            <p>
                <h4>Dirección: Irarrázabal 0180 oficina 666</h4>
            </p>
        </div>
    </div>

{% endblock  %}